<div class="calculator" [ngClass]="{ 'dark-theme': isDarkTheme }">
  <div class="calcinnova-header">
    <h1>CalcInnova</h1>
    <button (click)="toggleTheme()">🌙/☀️</button>
  </div>
  <div class="calcinnova-display">{{ displayValue }}</div>
  
  <div class="button-container">
    <button class="btn" (click)="appendValue('7')">7</button>
    <button class="btn" (click)="appendValue('8')">8</button>
    <button class="btn" (click)="appendValue('9')">9</button>
    <button class="btn operator" (click)="appendValue('/')">/</button>
    
    <button class="btn" (click)="appendValue('4')">4</button>
    <button class="btn" (click)="appendValue('5')">5</button>
    <button class="btn" (click)="appendValue('6')">6</button>
    <button class="btn operator" (click)="appendValue('*')">*</button>
    
    <button class="btn" (click)="appendValue('1')">1</button>
    <button class="btn" (click)="appendValue('2')">2</button>
    <button class="btn" (click)="appendValue('3')">3</button>
    <button class="btn operator" (click)="appendValue('-')">-</button>
    
    <button class="btn clear" (click)="clear()">C</button>
    <button class="btn" (click)="appendValue('0')">0</button>
    <button class="btn equals" (click)="calculate()">=</button>
    <button class="btn operator" (click)="appendValue('+')">+</button>
  </div>
  
  <div class="history" *ngIf="history.length > 0">
    <h3>Historique</h3>
    <div *ngFor="let entry of history">{{ entry }}</div>
    <button class="btn clear" (click)="clearHistory()">Effacer Historique</button>
  </div>
</div>
